<!-- wp:group {"className":"nav-sticky-wrapper","style":{"position":{"type":"sticky","top":"0px"},"spacing":{"padding":{"top":"0","bottom":"0"}},"shadow":"var:preset|shadow|natural"},"layout":{"type":"default"}} -->
<div class="wp-block-group nav-sticky-wrapper" style="padding-top:0;padding-bottom:0;box-shadow:var(--wp--preset--shadow--natural)"><!-- wp:template-part {"slug":"header","theme":"online-personal-trainer","tagName":"header"} /--></div>
<!-- /wp:group -->


<!-- wp:pattern {"slug": "online-personal-trainer/header-009"} /-->

<!-- wp:pattern {"slug": "online-personal-trainer/content-016"} /-->

<!-- wp:pattern {"slug": "online-personal-trainer/content-018"} /-->

<!-- wp:pattern {"slug": "online-personal-trainer/testimonial-001"} /-->

<!-- wp:pattern {"slug": "online-personal-trainer/content-019"} /-->

<!-- wp:pattern {"slug": "online-personal-trainer/content-020"} /-->

<!-- wp:pattern {"slug": "online-personal-trainer/content-021"} /-->

<!-- wp:pattern {"slug": "online-personal-trainer/content-022"} /-->


<!-- wp:template-part {"slug":"footer","theme":"online-personal-trainer","area":"footer"} /-->