<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->
<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
	<!-- wp:pattern {"slug":"carbon-charity/hero"} /-->
	<!-- wp:pattern {"slug":"carbon-charity/services"} /-->
	<!-- wp:pattern {"slug":"carbon-charity/about"} /-->
	<!-- wp:pattern {"slug":"carbon-charity/latest-posts"} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->